<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../../Utility CSS/utility.css" />
    <link rel="stylesheet" href="./textUtilities.css" />

    <link rel="icon" href="../../img/logo.png" type="image/x-icon" />
    <title>Text Utilities</title>
  </head>
  <body>
    <header>
      <nav class="container-flex flex-sb flex-wr">
        <div class="header__nav">
          <ul class="container-flex">
            <li>
              <a
                href="../../index.html"
                class="font-l anchor-style nav__icon--position nav__item--hover"
                >F#
                <span class="nav__subtitle--position">Fast & Sharp UI</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="container">
      <div class="sidebar container-flex">
        <ul class="font-xl">
          <li>
            <span class="sidebar-title"> Components </span>
          </li>

          <li>
            <a href="#avatar" class="sidebar-menu" rel="noopener noreferrer">
              Avatar
            </a>
          </li>

          <li>
            <a href="#alert" class="sidebar-menu" rel="noopener noreferrer">
              Alert
            </a>
          </li>

          <li>
            <a href="#alert" class="sidebar-menu" rel="noopener noreferrer">
              Badge
            </a>
          </li>

          <li>
            <a href="#alert" class="sidebar-menu" rel="noopener noreferrer">
              Button
            </a>
          </li>

          <li>
            <a href="#alert" class="sidebar-menu" rel="noopener noreferrer">
              Card
            </a>
          </li>

          <li>
            <a href="#alert" class="sidebar-menu" rel="noopener noreferrer">
              Image
            </a>
          </li>
          <li>
            <a href="#alert" class="sidebar-menu" rel="noopener noreferrer">
              Input
            </a>
          </li>
          <li>
            <a href="#alert" class="sidebar-menu" rel="noopener noreferrer">
              Text Utilities
            </a>
          </li>
          <li>
            <a href="#alert" class="sidebar-menu" rel="noopener noreferrer">
              List
            </a>
          </li>
          <li>
            <a href="#alert" class="sidebar-menu" rel="noopener noreferrer">
              Navigation
            </a>
          </li>
          <li>
            <a href="#alert" class="sidebar-menu" rel="noopener noreferrer">
              Modal
            </a>
          </li>
          <li>
            <a href="#alert" class="sidebar-menu" rel="noopener noreferrer">
              Rating
            </a>
          </li>
          <li>
            <a href="#alert" class="sidebar-menu" rel="noopener noreferrer">
              Toast
            </a>
          </li>
          <li>
            <a href="#alert" class="sidebar-menu" rel="noopener noreferrer">
              Simplified Grid
            </a>
          </li>
        </ul>
      </div>
      <div class="main">
        <h1 class="font-xl margin-m2">Typography</h1>
        <br />
        <hr />
        <h3 class="font-medium margin-m2">Headings</h3>
        <div class="box">
          <div class="h1">H1-Heading</div>
          <br />
          <div class="h2">H2-Heading</div>
          <br />
          <div class="h3">H3-Heading</div>
          <br />
          <div class="h4">H4-Heading</div>
          <br />
          <div class="h5">H5-Heading</div>
          <br />
          <div class="h6">H6-Heading</div>
          <br />
        </div>
        <div class="margin-m2 padding-p2">
          <code class="code-container container-flex flex-center">
            <iframe
              src="https://carbon.now.sh/embed?bg=rgba%28231%2C229%2C229%2C1%29&t=one-light&wt=none&l=text%2Fx-csrc&width=471.5&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=143%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522h1%2522%253EH1-Heading%253C%252Fdiv%253E%2520%250A%253Cdiv%2520class%253D%2522h2%2522%253EH2-Heading%253C%252Fdiv%253E%2520%250A%253Cdiv%2520class%253D%2522h3%2522%253EH3-Heading%253C%252Fdiv%253E%2520%250A%253Cdiv%2520class%253D%2522h4%2522%253EH4-Heading%253C%252Fdiv%253E%2520%250A%253Cdiv%2520class%253D%2522h5%2522%253EH5-Heading%253C%252Fdiv%253E%2520%250A%253Cdiv%2520class%253D%2522h6%2522%253EH6-Heading%253C%252Fdiv%253E%2520"
              style="
                width: 100%;
                height: 178px;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </code>
        </div>
        <h3 class="font-medium margin-m2">Paragraphs</h3>

        <div class="box">
          <div class="paragraph-xl">I am extra large paragraph</div>
          <br />
          <div class="paragraph-lg">I am large paragraph</div>
          <br />
          <div class="paragraph-sm">I am small paragraph</div>
          <br />
          <div class="paragraph-xsm">I am extra small paragraph</div>
          <br />
          <div class="grey-text">I am grey Text</div>
        </div>
        <div class="margin-m2 padding-p2">
          <code class="code-container container-flex flex-center">
            <iframe
              src="https://carbon.now.sh/embed?bg=rgba%28231%2C229%2C229%2C1%29&t=one-light&wt=none&l=text%2Fx-csrc&width=471.5&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=143%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522paragraph-xl%2522%253EI%2520am%2520extra%2520large%2520paragraph%253C%252Fdiv%253E%2520%250A%253Cdiv%2520class%253D%2522paragraph-lg%2522%253EI%2520am%2520%2520large%2520paragraph%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522paragraph-sm%2522%253EI%2520am%2520small%2520paragraph%253C%252Fdiv%253E%2520%250A%253Cdiv%2520class%253D%2522paragraph-xsm%2522%253EI%2520am%2520extra%2520small%2520paragraph%253C%252Fdiv%253E%2520%250A%253Cdiv%2520class%253D%2522grey-text%2522%253EI%2520am%2520grey%2520Text%253C%252Fdiv%253E"
              style="
                width: 100%;
                height: 158px;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </code>
        </div>

        <h3 class="font-medium margin-m2">Center Text</h3>

        <div class="box centered-text">
          <span>I am center Text</span>
        </div>
        <div class="margin-m2 padding-p2">
          <code class="code-container container-flex flex-center">
            <iframe
              src="https://carbon.now.sh/embed?bg=rgba%28231%2C229%2C229%2C1%29&t=one-light&wt=none&l=text%2Fx-csrc&width=471.5&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=143%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522box%2520centered-text%2522%253E%250A%2520%2520%2520%2520%2520%2520%253Cspan%253EI%2520am%2520center%2520Text%253C%252Fspan%253E%250A%253C%252Fdiv%253E"
              style="
                width: 100%;
                height: 118px;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </code>
        </div>
      </div>
    </div>
  </body>
</html>
