<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../../Utility CSS/utility.css" />
    <link rel="stylesheet" href="./image.css" />

    <link rel="icon" href="../../img/logo.png" type="image/x-icon" />
    <title>Image</title>
  </head>
  <body>
    <header>
      <nav class="container-flex flex-sb flex-wr">
        <div class="header__nav">
          <ul class="container-flex">
            <li>
              <a
                href="../../index.html"
                class="font-l anchor-style nav__icon--position nav__item--hover"
                >F#
                <span class="nav__subtitle--position">Fast & Sharp UI</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="container">
      <div class="sidebar container-flex">
        <ul class="font-xl">
          <li>
            <span class="sidebar-title"> Components </span>
          </li>

          <li>
            <a href="#avatar" class="sidebar-menu" rel="noopener noreferrer">
              Avatar
            </a>
          </li>

          <li>
            <a href="#alert" class="sidebar-menu" rel="noopener noreferrer">
              Alert
            </a>
          </li>

          <li>
            <a href="#alert" class="sidebar-menu" rel="noopener noreferrer">
              Badge
            </a>
          </li>

          <li>
            <a href="#alert" class="sidebar-menu" rel="noopener noreferrer">
              Button
            </a>
          </li>

          <li>
            <a href="#alert" class="sidebar-menu" rel="noopener noreferrer">
              Card
            </a>
          </li>

          <li>
            <a href="#alert" class="sidebar-menu" rel="noopener noreferrer">
              Image
            </a>
          </li>
          <li>
            <a href="#alert" class="sidebar-menu" rel="noopener noreferrer">
              Input
            </a>
          </li>
        </ul>
      </div>
      <div class="main">
        <h1 class="font-xl margin-m2">Image</h1>
        <br />
        <hr />
        <p class="font-medium margin-m2">Responsive Image</p>
        <div class="box">
          <img
            src="https://images.unsplash.com/photo-1470252649378-9c29740c9fa8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=800"
            alt="Nature trees"
            class="img-responsive"
          />
        </div>
        <p class="font-medium margin-m2">
          Copy this into your project to get a Responsive Image
        </p>
        <div class="margin-m2 padding-p2">
          <code class="code-container container-flex flex-center">
            <iframe
              src="https://carbon.now.sh/embed?bg=rgba%28231%2C229%2C229%2C1%29&t=one-light&wt=none&l=text%2Fx-csrc&width=715.5&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=143%25&si=false&es=2x&wm=false&code=%2520%253Cimg%2520src%253D%2522.....%2522%2520alt%253D%2522Responsive%2520Image%2522%2520class%253D%2522img-responsive%2522%253E"
              style="
                width: 615px;
                height: 78px;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </code>
        </div>

        <p class="font-medium margin-m2">Round Image</p>
        <div class="box">
          <img
            src="https://picsum.photos/300/300"
            alt="Round Image"
            class="img-round"
          />
        </div>

        <div class="margin-m2 padding-p2 container-flex flex-center">
          <code class="code-container">
            <iframe
              src="https://carbon.now.sh/embed?bg=rgba%28231%2C229%2C229%2C1%29&t=one-light&wt=none&l=text%2Fx-csrc&width=615.75&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=143%25&si=false&es=2x&wm=false&code=%253Cimg%2520src%253D%2522....%2522%2520alt%253D%2522Round%2520Image%2522%2520class%253D%2522img-round%2522%253E"
              style="
                width: 707px;
                height: 78px;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </code>
        </div>
      </div>
    </div>
  </body>
</html>
