@import url("../../Utility CSS/navbar.css");

.code-container {
  width: 100%;
}

.navigation {
  height: 7rem;
  margin: 1rem;
  width: 90%;
  background-color: #c7d2fe;
  border: 1px solid var(--btn-secondary-color);
  border-radius: 5px;

  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.07);
}

.nav-sitename {
  font-size: 3rem;
  width: 20rem;
  align-self: center;
}

i {
  font-size: 3rem;
}

.navigation,
.nav__searchbar,
.nav-other {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav__searchbar {
  font-size: 3rem;
  width: 35rem;
}

.nav-other {
  font-size: 3rem;
  width: 35rem;
}

.icon {
  position: relative;
}

.icon-text {
  font-size: 1.9rem;
  position: absolute;
  top: 3rem;
  left: 0rem;
}

.anchor {
  text-decoration: none;
  color: black;
}

.nav-logo {
  font-weight: bold;
  font-size: 3rem;
  color: var(--btn-secondary-color);
}

input {
  width: 25rem;
  height: 3.5rem;
  border-radius: 5px;
  outline: none;
  padding: 4px 8px;
  border: 2px solid var(--border-color);
}

i:hover {
  color: var(--primary-color);
}

.btn {
  height: 4rem;
  width: 10rem;
  font-size: 1.8rem;
  margin: 2rem;
  padding: 4px 6px;
  border: none;
  border-radius: 1rem;
  color: #fafafa;
  cursor: pointer;
  background-color: none;
}

.btn-secondary {
  background-color: var(--btn-secondary-color);
}

.btn-default {
  background-color: var(--primary-color);
}
