:root{
    --primary-color:#7c3aed;
    --light-color: #a78bfa;
    --border-color:#a8a29e;
    --blue-color:#7FD2E6;
    --grey-color:#EAEAEC;
    --success-color:#84F1C9;
    --danger-color:#FCC5C5;
    --warning-color:#fde047;
    
  
  }
