@import url("../../Utility CSS/navbar.css");
.box {
  height: 14rem;
  width: 120rem;
  justify-content: flex-start;
  padding: 2rem;
}

.btn {
  height: 5rem;
  width: 10rem;
  font-size: 1.8rem;
  margin: 2rem;
  padding: 4px 6px;
  border: none;
  border-radius: 1rem;
  color: #fafafa;
  background-color: none;
}

.btn:hover,
.btn-link:hover {
  filter: brightness(0.9);
  cursor: pointer;
}

.btn-primary {
  background-color: var(--btn-primary-color);
}

.btn-secondary {
  background-color: var(--btn-secondary-color);
}

.btn-success {
  background-color: var(--btn-success-color);
}

.btn-danger {
  background-color: var(--btn-danger-color);
}

.btn-warning {
  background-color: var(--btn-warning-color);
}

.btn-default {
  background-color: var(--primary-color);
}

.btn-link {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  margin: 2rem;
  padding: 15px 10px;
  font-size: 1.8rem;
  font-weight: 300;
  border: none;
  border-radius: 1rem;
  color: #fafafa;
  background-color: var(--primary-color);
}

.outline-primary {
  border: 1px solid var(--btn-primary-color);
  color: var(--btn-primary-color);
}

.outline-primary:hover {
  background-color: var(--btn-primary-color);
}

.outline-secondary {
  border: 1px solid var(--btn-secondary-color);
  color: var(--btn-secondary-color);
}

.outline-secondary:hover {
  background-color: var(--btn-secondary-color);
}

.outline-success {
  border: 1px solid var(--btn-success-color);
  color: var(--btn-success-color);
}

.outline-success:hover {
  background-color: var(--btn-success-color);
}

.outline-danger {
  border: 1px solid var(--btn-danger-color);
  color: var(--btn-danger-color);
}

.outline-danger:hover {
  background-color: var(--btn-danger-color);
}

.outline-warning {
  border: 1px solid var(--btn-warning-color);
  color: var(--btn-warning-color);
}
.outline-warning:hover {
  background-color: var(--btn-warning-color);
}

.outline-default {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
.outline-default:hover {
  background-color: var(--primary-color);
}

.outline-link {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  margin: 2rem;
  padding: 15px 10px;
  font-size: 1.8rem;
  font-weight: 300;
  border: none;
  border-radius: 1rem;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.outline-link:hover {
  background-color: var(--primary-color);
}
.outline-primary:hover,
.outline-secondary:hover,
.outline-success:hover,
.outline-danger:hover,
.outline-warning:hover,
.outline-default:hover,
.outline-link:hover {
  color: #fafafa;
}

.outline-primary,
.outline-secondary,
.outline-success,
.outline-danger,
.outline-warning,
.outline-default,
.outline-link {
  background-color: #fafafa;
}

.btn-icon {
  height: 5rem;
  width: 10rem;
  font-size: 1.8rem;
  padding: 4px 6px;
  margin: 2rem;
  background-color: transparent;
  border: none;
  border-radius: 1rem;
  color: black;
  cursor: pointer;
}

.btn-icon:hover {
  background-color: var(--primary-color);
  color: #fafafa;
}

.buttons-container {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-color: var(--btn-primary-color);
  box-shadow: 5px -19px 139px -13px rgba(0, 0, 0, 0.75);
  position: relative;
}

.plus-icon {
  position: absolute;
  color: #fafafa;
  font-size: 10px;
  top: 1.5rem;
  left: 1.7rem;
}

iframe {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.code-container {
  width: 100%;
}
