@import url("../../Utility CSS/navbar.css");

.code-container {
  width: 100%;
}

.grid-2-col {
	display: grid;
	grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    gap: 0rem;
}

.text-container{
 background-color: var( --light-color) ;
}




.grid-3-col {
	display: grid;
	grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
}

