:root{
    --primary-color:#7c3aed;
    --light-color: #a78bfa;
    --border-color:#a8a29e;
    --blue-color:#7FD2E6;
    --grey-color:#EAEAEC;
    --success-color:#84F1C9;
    --danger-color:#FCC5C5;
    --warning-color:#fde047;
    --btn-primary-color:#1d4ed8;
    --btn-secondary-color:#3f3f46;
    --btn-success-color:#15803d;
    --btn-danger-color:#dc2626;
    --btn-warning-color:#fbbf24;
    --star-color:#f59e0b;


    
  
  }
